.gg-play-play-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 33px;
    height: 33px;
    border: 3px solid;
    border-radius: 30px;
    color: white;
    margin-bottom: 1em;
}

.gg-play-play-o:hover {
    color: rgb(204, 204, 204);
    transition-duration: 0.5s;
}

.gg-play-play-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 15px;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 9px solid;
    top: 6px;
    left: 10.5px;
}