body {
    background-color: black;
    background-image: url('http://127.0.0.1/My%20Works/Minggu%202/front-end/Paragraph/assets/image/gif/Private.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: white;
    font-size: 15px;
}

.flex-container-top {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
}

.flex-container-top > div {
    background-color: grey;
    padding: 2%;
    margin: 1em;
}

.flex-container-bottom {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 1%;
    padding-right: 1%;
}

.flex-container-bottom > div {
    background-color: grey;
    padding: 2%;
    margin: 1em;
}

.courier-left {
    font-family: 'Courier New', Courier, monospace;
    text-align: left, justify;
}

.title-courier-left {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.title-times {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.times-new-left {
    font-family: 'Times New Roman', Times, serif;
    text-align: left, justify;
}

.title-courier-right {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: right;
}

.courier-right {
    font-family: 'Courier New', Courier, monospace;
    text-align: right,;
}

.title-times-right {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: right;
}

.times-new-right {
    font-family: 'Times New Roman', Times, serif;
    text-align: right, justify;
}

.button {
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    background-color: black;
    color: white;
    border: 1px solid rgb(192, 192, 192);
}

.button1:hover {
    background-color: white;
    color: black;
}