.gg-play-slow-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 33px;
    height: 33px;
    border: 3px solid;
    border-radius: 30px;
    color: white;
    margin-bottom: 1em;
}

.gg-play-slow-o:hover {
    color: rgb(204, 204, 204);
    transition-duration: 0.5s;
}

.gg-play-slow-o::after,
.gg-play-slow-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 12px;
    top: 7.5px
}

.gg-play-slow-o::before {
    width: 3px;
    border-radius: 3px;
    right: 16.5px;
    background: currentColor
}

.gg-play-slow-o::after {
    width: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7.5px solid;
    right: 7.5px
}